<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <record id="asterisk_plus_crm_settings_form" model="ir.ui.view">
    <field name="name">asterisk_plus_crm_settings_form</field>
    <field name="model">asterisk_plus.settings</field>
    <field name="inherit_id" ref="asterisk_plus.asterisk_settings_form"/>
    <field name="arch" type="xml">
      <page name="calls" position="after">
        <page name="crm" string="CRM">
          <group name="crm">
            <group>
              <field help="Create leads on incoming calls." name="auto_create_leads_from_calls"/>
              <field name="auto_create_leads_missed_calls_only"
                     attrs="{'invisible':[('auto_create_leads_from_calls','=',False)]}"/>
            </group>
            <group>
              <field help="Assign this user as a sales person for such leads."
                     name="auto_create_leads_sales_person"
                     attrs="{'invisible':[('auto_create_leads_from_calls','=',False)]}"/>
            </group>
          </group>
        </page>
      </page>
    </field>
  </record>
</odoo>