<odoo>

  <!-- res_partner -->
  <record id="res_partner_asterisk_server_access" model="ir.model.access">
    <field name="name">res_partner_asterisk_server_access</field>
    <field name="model_id" ref="base.model_res_partner"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="0"/>
    <field name="perm_create" eval="0"/>
    <field name="perm_unlink" eval="0"/>
  </record>

  <!-- Events -->
  <record id="asterisk_event_server" model="ir.model.access">
    <field name="name">asterisk_event_server</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_event"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="0"/>
    <field name="perm_create" eval="0"/>
    <field name="perm_unlink" eval="0"/>
  </record>

</odoo>
