<odoo>

  <!-- res_partner -->
  <record id="res_partner_asterisk_server_access" model="ir.model.access">
    <field name="name">res_partner_asterisk_server_access</field>
    <field name="model_id" ref="base.model_res_partner"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="0"/>
    <field name="perm_create" eval="0"/>
    <field name="perm_unlink" eval="0"/>
  </record>

  <!-- Events -->
  <record id="asterisk_event_server" model="ir.model.access">
    <field name="name">asterisk_event_server</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_event"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="0"/>
    <field name="perm_create" eval="0"/>
    <field name="perm_unlink" eval="0"/>
  </record>

  <!-- Channel -->
  <record id="asterisk_plus_channel_server" model="ir.model.access">
    <field name="name">asterisk_plus_channel_server</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_channel"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="1"/>
    <field name="perm_create" eval="1"/>
    <field name="perm_unlink" eval="0"/>
  </record>

  <!-- Call -->
  <record id="asterisk_plus_call_server" model="ir.model.access">
    <field name="name">asterisk_plus_call_server</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_call"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="1"/>
    <field name="perm_create" eval="1"/>
    <field name="perm_unlink" eval="0"/>
  </record>

  <!-- Call Events -->
  <record id="asterisk_plus_call_event_server" model="ir.model.access">
    <field name="name">asterisk_plus_call_event_server</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_call_event"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="0"/>
    <field name="perm_write" eval="0"/>
    <field name="perm_create" eval="1"/>
    <field name="perm_unlink" eval="0"/>
  </record>

  <!-- Recording -->
  <record id="asterisk_plus_recording_server" model="ir.model.access">
    <field name="name">asterisk_plus_recording_server</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_recording"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="1"/>
    <field name="perm_create" eval="1"/>
    <field name="perm_unlink" eval="0"/>
  </record>

<!-- Channel Message  -->
<record id="asterisk_plus_channel_message_server" model="ir.model.access">
  <field name="name">asterisk_plus_channel_message_server</field>
  <field name="model_id" ref="asterisk_plus.model_asterisk_plus_channel_message"/>
  <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
  <field name="perm_read" eval="0"/>
  <field name="perm_write" eval="0"/>
  <field name="perm_create" eval="1"/>
  <field name="perm_unlink" eval="0"/>
</record>

  <!-- Settings -->
  <record id="asterisk_settings_server" model="ir.model.access">
    <field name="name">asterisk_settings</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_settings"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="0"/>
    <field name="perm_create" eval="0"/>
    <field name="perm_unlink" eval="0"/>
  </record>

  <!-- Server -->
  <record id="asterisk_server" model="ir.model.access">
    <field name="name">asterisk_server</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_server"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="1"/>
    <field name="perm_create" eval="0"/>
    <field name="perm_unlink" eval="0"/>
  </record>

  <!-- PbxUser Channel -->
  <record id="asterisk_plus_user_channel_server" model="ir.model.access">
    <field name="name">asterisk_plus_user_channel</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_user_channel"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="0"/>
    <field name="perm_create" eval="0"/>
    <field name="perm_unlink" eval="0"/>
  </record>

  <!-- PbxUser -->
  <record id="asterisk_plus_user_server" model="ir.model.access">
    <field name="name">asterisk_plus_user_server</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_user"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="0"/>
    <field name="perm_create" eval="0"/>
    <field name="perm_unlink" eval="0"/>
  </record>

  <!-- Conf -->
  <record id="asterisk_plus_conf_server" model="ir.model.access">
    <field name="name">asterisk_plus_conf_server</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_conf"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="1"/>
    <field name="perm_create" eval="1"/>
    <field name="perm_unlink" eval="0"/>
  </record>

  <!-- Access List -->
  <record id="asterisk_plus_access_list_server" model="ir.model.access">
    <field name="name">asterisk_plus_access_list_server</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_access_list"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="0"/>
    <field name="perm_create" eval="0"/>
    <field name="perm_unlink" eval="0"/>
  </record>

  <!-- Access Ban -->
  <record id="asterisk_plus_access_ban_server" model="ir.model.access">
    <field name="name">asterisk_plus_access_ban_server</field>
    <field name="model_id" ref="asterisk_plus.model_asterisk_plus_access_ban"/>
    <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    <field name="perm_read" eval="1"/>
    <field name="perm_write" eval="1"/>
    <field name="perm_create" eval="1"/>
    <field name="perm_unlink" eval="1"/>
  </record>

</odoo>
