<odoo>
    <record id="asterisk_plus_server_crm_create_access" model="ir.model.access">
        <field name="name">asterisk_plus_server_crm_create_access</field>
        <field name="perm_read" eval="1"/>
        <field name="perm_create" eval="1"/>
        <field name="perm_write" eval="1"/>
        <field name="perm_unlink" eval="0"/>                
        <field name="model_id" ref="crm.model_crm_lead"/>
        <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    </record>

    <record id="asterisk_plus_agent_crm_team_access" model="ir.model.access">
        <field name="name">asterisk_plus_agent_crm_team_access</field>
        <field name="perm_read" eval="1"/>
        <field name="perm_create" eval="0"/>
        <field name="perm_write" eval="0"/>
        <field name="perm_unlink" eval="0"/>                
        <field name="model_id" ref="crm.model_crm_team"/>
        <field name="group_id" ref="asterisk_plus.group_asterisk_server"/>
    </record>

    <!-- RECORD RULES -->
    <record id="server_crm_records_rule" model="ir.rule">
        <field name="name">server_crm_records_rule</field>
        <field name="perm_read" eval="1"/>
        <field name="perm_create" eval="1"/>
        <field name="perm_write" eval="1"/>
        <field name="perm_unlink" eval="0"/>                
        <field name="model_id" ref="crm.model_crm_lead"/>
        <field name="groups" eval="[(4, ref('asterisk_plus.group_asterisk_server'))]"/>
        <field name="domain_force">[(1,'=', 1)]</field>
    </record>    
</odoo>
